- text = "The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee."

html(lang="en")
  head
    meta(charset="utf-8")
    title Snippet
    meta(content="Snippet. Snip it good.", name="description")
    meta(content="Jamie Henson", name="author")
    link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
    link(href="dist/css/snippets.css", rel="stylesheet")
    link(href="example/example.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="dist/js/snippets.js")
    script(src="example/example.js")
    
  body
    .container.main
      h1 Snippet
      h3 An easy way to glam up your truncated comments/reviews/whatever!
      hr
      
      .row
        .col-xs-4
          row
            .col-xs-12
              h4 Example text
              form
                .form-group
                  textarea#exampletext(rows="5" class="form-control")= text
              .row
                .col-xs-12
                  h4 Labels
                form
                .col-lg-6
                  .form-group
                    label(for="expand") Expand text
                    input#expand(type="text" class="form-control" value="more")
                .col-lg-6
                  .form-group
                    label(for="collapse") Collapse text
                    input#collapse(type="text" class="form-control" value="less")
            .col-xs-12
              h4 Type
              .list-group
                a(class="list-group-item") 
                  span Pull-down 
                  em (default)
                a(class="list-group-item") Reveal
            .col-lg-6
              h4 Bootstrap Colours
              .list-group
                a(class="list-group-item demo colour text") snippet-text
                a(class="list-group-item demo colour default") snippet-default
                a(class="list-group-item demo colour primary") snippet-primary
                a(class="list-group-item demo colour success") snippet-success
                a(class="list-group-item demo colour warning") snippet-warning
                a(class="list-group-item demo colour danger") snippet-danger
            .col-lg-6
              h4 Sizes
              .list-group
                a(class="list-group-item demo size xs") snippet-xs
                a(class="list-group-item demo size sm") snippet-sm
                a(class="list-group-item demo size md") snippet-md
                a(class="list-group-item demo size lg") snippet-lg
            .clearfix
            .col-lg-6
              h4 Alignment
              .list-group
                a(class="list-group-item demo align left") snippet-left
                a(class="list-group-item demo align center") snippet-center
                a(class="list-group-item demo align right") snippet-right
                a(class="list-group-item demo align full") snippet-full
        .col-xs-8
          .demo-wrapper
            .snippet-box
              .snippet-content
                = text
              .snippet-expander.snippet-sm(data-collapse="less", data-expand="more")
            p.code
              pre.codebox
      hr
      
      h3 Basic markup
      p It's very easy to set up one of these boxes. Just include <strong>snippets.css</strong> (or the supplied SASS version) and <strong>snippets.js</strong> in your page, and then whack down the following markup:
      
      pre
        | &lt;div class="snippet-box"&gt;
        | &nbsp;&nbsp;&lt;div class="snippet-content"&gt;
        | &nbsp;&nbsp;&nbsp;&nbsp;CONTENT GOES HERE
        | &nbsp;&nbsp;&lt;/div&gt;
        | &nbsp;&nbsp;&lt;div class="snippet-expander"&gt;&lt;/div&gt;
        | &lt;/div&gt;
        
      p 
        | Append whatever styling classes you like to the
        code snippet-expander
        | element. More on all of that below:

    footer.footer
      .container
        span Made with mild amusement in London by 
        a(href="https://github.com/jamiehenson") <strong>J. Henson</strong>
        |, 2016
