- text = "The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee."

html(lang="en")
  head
    meta(charset="utf-8")
    title Snippet
    meta(content="Snippet. Snip it good.", name="description")
    meta(content="Jamie Henson", name="author")
    link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
    link(href="dist/css/snippets.css", rel="stylesheet")
    link(href="example/example.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="dist/js/snippets.js")
    
  body
    .container
      h1 Snippet
      h3 An easy way to glam up your truncated comments/reviews/whatever!
      .row
        .col-sm-6
          h4 Primary (XS)
          .snippet-box
            .snippet-content
              = text
            .snippet-expander.snippet-primary.snippet-xs(data-collapse="less", data-expand="more")
        .col-sm-6
          h4 Success (SM)
          .snippet-box
            .snippet-content
              = text
            .snippet-expander.snippet-success.snippet-sm(data-collapse="less", data-expand="more")
      br
      .row
        .col-sm-6
          h4 Warning (MD)
          .snippet-box
            .snippet-content
              = text
            .snippet-expander.snippet-warning.snippet-md(data-collapse="less", data-expand="more")
        .col-sm-6
          h4 Danger (LG)
          .snippet-box
            .snippet-content
              = text
            .snippet-expander.snippet-danger.snippet-lg(data-collapse="less", data-expand="more")
